.container {
    background-color: hsl(30, 38%, 92%);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card {
    background-color: hsl(0, 0%, 100%);
    height: 500px;
    width: 40%;
    border-radius: 10px;
    display: flex;
    
    
}

.image {
    background-color: red;
    width: 50%;
}
.image img {
    width: 100%;
    height: 100%;

}
.content {
    
    width: 50%;
}